@model Car

<ul class="list-group">
    <li class="list-group-item active" aria-current="true">Year: @Model.Year</li>
    <li class="list-group-item active" aria-current="true">Color: @Model.Color</li>
    <li class="list-group-item active" aria-current="true">Engine: @Model.Engine</li>
</ul>
